/*************************/
/*    Navigation view    */
/*************************/
/* upload DPLMovie json file */
#dpl-movie-fileItem {
  display: none;
}
.dpl-movie-fileItem-label {
  cursor: pointer;
}

/*************************/
/*      main view        */
/*************************/

.dplmovie-runtime-canvas {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #e9f3fd;
}

.dplmovie-box {
  box-shadow: inset 0 0 0.5rem 0rem #141010;
  background-color: #fff;
  border-radius: 1.2rem;
}

/*************************/
/* runtime selection view*/
/*************************/

.dplmovie-runtime-view-elt-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.dplmovie-runtime-view-elt-date {
  font-style: italic;
  margin-top: 0.8rem;
  font-size: 1rem;
}
