/*************************/
/*    Navigation view    */
/*************************/
/* create a new graph with a name */
.graphplayer-creategraph-btn {
  display: flex;
  flex-direction: row;
}
.graphplayer-creategraph-btn:hover {
  transform: none; /*stop the default transformation when hovering*/
}

.graphplayer-graphnameinput {
  display: block;
  font-size: 2rem;
}
