/*************************/
/*      main view        */
/*************************/
.dplmovie {
  height: 85%;
  /*because the app is taking 85% of the screen and the rest is for the menu above.
    Technically, it should be refactored with flex box.*/
}

.dplmovie-runtime-canvas {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #e9f3fd;
  height: 100%;
}

.dplmovie-box {
  box-shadow: inset 0 0 0.5rem 0rem #141010;
  background-color: #fff;
  border-radius: 1.2rem;
  height: 100%;
}
