/**************/
/*   GENERIC  */
/**************/
/*charateristics for any cv boxes/inserts*/
.cv-box {
  /*shape*/
  border: none;
  border-radius: 2.4rem;
  background-color: #a7d1f5;

  box-shadow: 0 1rem 4.8rem rgba(10, 43, 69, 0.25);
}

/*class for any paragraph/insert a cv*/
.cv-paragraph {
  padding: 3.2rem 3.2rem;
}

/*class for any main title of a paragraph cv insert (like the experience, languages, ...)*/
.cv-paragraph-title {
  font-size: 3.6rem;
  font-weight: 600;
  padding-bottom: 1.8rem;
}

/*class for the list of items (list of languages type, list of experiences,...)*/
.cv-paragraph-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/*class for the list items in a paragraph of the cv*/
.cv-paragraph-list-element {
  list-style-type: none;
  padding: 1.2rem 1.2rem;
  border-style: solid;
  box-shadow: 0 1rem 4.8rem #d3e8fa;
  border-width: 0.01rem;
  border-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/*class for the title of the element in a paragraph of the cv*/
.cv-paragraph-list-element-title {
  /*font*/
  font-size: 1.8rem;
  font-weight: 450;
}

/**************/
/*   CONTACT  */
/**************/
.cv-address-backToMenu {
  padding: 0rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*contact info*/
/*------------*/
.cv-address {
  /*allignement of the contact info*/
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /*text properties*/
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 450;
}

/*back to menu*/
/*------------*/
#cv-backToMenu {
  border: none;
  background-color: #a7d1f5;
  cursor: pointer;
}
.cv-backToMenu-icon {
  height: 8.6rem;
}

/*****************/
/*   EXPERIENCE  */
/*****************/

/*class for the line with the date range, job title and button, of each experience*/
.cv-experience-list-element-date-title-button {
  /*make sure it is a line*/
  display: flex;
  justify-content: space-between;
}

/*text content of the experience*/
.cv-experience-list-element-content {
  font-size: 1.2rem;

  /*organize the paragraph*/
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*button (and its icon) that controls the opening and closure of the experience content*/
.cv-experience-list-element-button {
  border: none;
  background-color: #a7d1f5;
  cursor: pointer;
}
.cv-experience-list-element-button-icon {
  height: 1.8rem;
}

/*****************/
/*   Languages   */
/*****************/
/*class for the container of the two language types*/
.cv-language-list {
  flex-direction: row; /*this property must be after the class 'cv-paragraph-list' to overrule its same property*/
}
/*class for the element of the class above*/
.cv-language-list-element {
  width: 50%; /*make sure that two languages take half each of the language box*/
}
/*   Human Languages   */
/*---------------------*/
/*control the grid of the human languages*/
.cv-language-human-grid {
  padding-top: 1.5rem; /*ADAPT THIS WHEN ADDING PROGRAMMING LANGUAGES*/
  display: grid;
  grid-template-columns: 0.5fr 0.9fr 3fr;
  align-items: center;
  row-gap: 1.5rem;
}
/*class for the language name*/
.cv-language-human-name {
  font-size: 1.2rem;
  font-weight: 450;
}
/*class for the language description*/
.cv-language-human-desc {
  font-size: 1.2rem;
}

/*button to switch between langages*/
.cv-language-switch-btn {
  cursor: pointer;
}
.cv-language-human-btn {
  display: inline-block;
  height: 2.2rem;
  width: 2.2rem;
  background-color: aliceblue;
  border-radius: 1000rem;
  border-style: solid;
  border-width: 0.2rem;
}
.cv-language-human-btn-flag {
  height: 1.8rem;
  border-radius: 100rem;
  border-color: aliceblue;
  border-style: solid;
  border-width: 0.3rem;
}

/*   Programming Languages   */
/*---------------------------*/
/*grid containing the programming language name and description*/
.cv-language-programming-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  gap: 0.7rem;
}
/*name of the programming languages*/
.cv-language-programming-name {
  font-size: 1.2rem;
  font-weight: 450;
}
/*description of the programming languages*/
.cv-language-programming-description {
  font-size: 1.2rem;
}

/*****************/
/*   Education   */
/*****************/
/*class for the container gathering the date, title and location of an education*/
.cv-education-list-element-date-title-location {
  /*make sure it is a line*/
  display: flex;
  justify-content: space-between;
}
.cv-education-list-element-location {
  font-size: 1.4rem;
}
