/*classes made for giving the body and html a absolute or relative size.
  These classes are used during the transition between the portal buttons and the cv.
*/
.relative-size {
  height: 100%;
}
.absolute-size {
  height: 200rem;
}

/********************************/
/*BIG BUTTONS to get to the apps*/
/********************************/

.app-container {
  /*text properties*/
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;

  /*shape*/
  border: none;
  border-radius: 2.4rem;
  background-color: #a7d1f5;
  box-shadow: 0 1rem 4.8rem rgba(10, 43, 69, 0.25);

  padding: 6.4rem 3.2rem;

  /*display of children*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*classes animating the app buttons to make them a little bit bigger when hovered*/
.app-container-hover-transition {
  transition: transform 0.3s;
}
.app-container-hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*classes animating the app buttons to make them go*/
.app-container-go {
  transform: translateY(2000px);
}
.app-container-go-transition {
  transition: transform 2s;
}
.app-container-comeback-transition {
  transition: transform 1s;
}

/***************/
/*PORTAL LAYOUT*/
/***************/

.portal {
  padding: 9.6rem 22rem;
  background-color: #d3e8fa;

  overflow: hidden; /*this make sure that the button can translate outside the frame*/

  height: 100%; /*with the height of all parents (body and html), this make sure that the portal takes the entire screen*/
}

.app-grid {
  margin: 0 auto;

  max-width: 100rem;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  padding: 3.2rem 1.6rem;
}

/***************/
/* APP BUTTONS*/
/***************/

/*about the author*/
.about-section {
  /*grid properties*/
  grid-column: 2;
  grid-row: 2;
}

/*dpl movie*/
.dplmovie-section {
  /*grid properties*/
  grid-column: 1;
  grid-row: 3;
}

/*graph expert*/
.graph-section {
  /*grid properties*/
  grid-column: 2;
  grid-row: 3;

  /*WIP*/
  display: none;
}

/***************/
/*   INSERT    */
/***************/
/*The insert is the set of elements which inserts themselves in-place of the big buttons.
  Specifically:
    - the "insert-photo" is the photo of the cv
    - the "insert-title" is the title of the cv
    - the "insert-header" is the contact element of the CV
    - the "insert-paragraph" are the Experiences, the Educations and Langages paragraph of the cv
*/

/*insert-photo*/
/*------------*/
.insert-photo {
  grid-column: 1;
  grid-row: 1/3;
}
/*used to make the transition of the photo. It is coming from above*/
.insert-photo-go {
  transform: translateY(-2000px);
}
.insert-photo-go-transition {
  transition: transform 1s;
}

/*insert-title*/
/*------------*/
.insert-title {
  grid-column: 2;
  grid-row: 1;
}
/*used to make the transition of the title*/
.insert-title-go {
  transform: translateY(-2000px);
}
.insert-title-go-transition {
  transition: transform 1s;
}

/*insert-header*/
/*-------------*/
/*used to place the header of the insert*/
.insert-header {
  grid-column: 2;
  grid-row: 2;
}
/*used to make the transition of the header*/
.insert-header-go {
  transform: translateX(2000px);
}
.insert-header-go-transition {
  transition: transform 1s;
}
/*insert-paragraph*/
/*----------------*/
/*used to make the transition of the paragraphs*/
.insert-paragraph-go-left {
  transform: translateX(-2000px);
}
.insert-paragraph-go-rigth {
  transform: translateX(2000px);
}
.insert-paragraph-go-transition {
  transition: transform 1s;
}
